#botonHover1 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover2 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover3 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover4 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover5 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover6 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover7 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover8 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover9 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover10 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover11 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover12 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover13 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover14 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover15 {
  position: absolute;
  background-color: #208E59;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
  top: 27%;
}

#botonHover16 {
  position: absolute;
  background-color: #208E59;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  margin-left: 5%;
}

#Q {
  margin-top: %;
}

#botonHover17 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover18 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover19 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover20 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover21 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover22 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover23 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover24 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover25 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  right: 2%;
}

#botonHover26 {
  position: absolute;
  background-color: #208E59;
  text-align: left;
  border-radius: 10px;
  width: 40px;
  height: 27px;
  color: #fff;
  left: -4.5%;
}

#botonHoverTablaInt {
  color: #fff;
  font-size: 15.5px;
  height: 45px;
  width: 13%;
  margin-left: 49.8%;
  background-color: #208E59;
}

#botonHoverTablaCon {
  color: #fff;
  font-size: 15.5px;
  height: 40px;
  width: 20%;
  background-color: #208E59;
}
